body {
	background-color: peachpuff;
}

.transparent {
    color: transparent;
    transition: color 0.5s;
    text-transform: capitalize;
    border-radius: 999px;
    padding: 1rem 2rem;
    background: transparent;
    margin: 3px;
    font-size: 4rem;
}

.opaque {
    color: rgb(162, 228, 86);
    border-radius: 999px;
    padding: 1rem 2rem;
    background: white;
    color: #29335C;
    margin: 3px;
}