body {
    background-color: #2c3e50;
    color: white;
    font-family: sans-serif;    
}

a, input[type=submit], input[type=file], button{
    background-color: #9b59b6;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px !important;
    color: white;
    text-decoration: none;
}
input[type=submit], input[type=file], button{
    border: 0;
}

input[type=submit]:active, a:hover, button:hover{
    background-color: #8e44ad
}


.grouplisting{
    height: 150px;
    width: 150px;
}


.transparent {
    color: transparent;
    transition: color 0.5s;
    text-transform: capitalize;
    border-radius: 999px;
    padding: 1rem 2rem;
    background: transparent;
    margin: 3px;
    font-size: 4rem;
}

.opaque {
    color: rgb(162, 228, 86);
    border-radius: 999px;
    padding: 1rem 2rem;
    background: white;
    color: #29335C;
    margin: 3px;
}

.card-outline {
    outline: 5px solid greenyellow;
    box-sizing: border-box;
}

.chessboard {
    width:50vw;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.card-component {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
    position: relative;
    width: 125px;
    height: 125px;
}

.card_front {
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform: rotate3d(1, 1, 1, 0deg);
    position: absolute;
}

.card_back {
    width: 128px;
    height: 128px;
    transition: transform 0.5s;
    transform: rotate3d(1, 1, 1, 0deg);
    position: absolute;
}

.side-by-side {
    display: flex;
    flex-direction: row;
}

.side-by-side > img {
    width: 300px;
    height: 300px;
}

.hangman {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hangman > button {
    width: 50%;
}

.hangman-board {
    background: white;
    height: 300px;
    width: 300px;
}

/* C. blank letters */
.hangman-word {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 18px 0;
}

.word-blankletter {
    align-items: flex-end;
    background-color: #8e44ad;
    box-shadow: 0 2px 5px #dd93ff;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 2px 2px 2px;
    width: 20px;
}


.hangman-keyboard button {
	background-color: white;
	border: none;
	color: #333;
	box-shadow: 0 2px 5px #D0D0D0;
	font-family: 'Roboto', sans-serif;
	margin: 2px;
}

.hangman-keyboard button:disabled {
    color: #CCC;
    background-color: gray;
}

/* D. keyboard */
.hangman-keyboard {
    align-items: center;
    display: flex;
    flex: 2 1 auto;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
}

.hidden {
    position: absolute;
    background: transparent;
    color: transparent;
}

.rotate {
    transform: rotate3d(0, 1, 0, 90deg);
}