<h3>Login here</3>
<form method="POST" action="/">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
<a href="/register">Dont have an account? CLICK HERE</a>
