<a href="/groups">Go back to groups</a>

<a href="/groups/<%= group_id %>/play/learn">Learn their names!</a>
<a href="/groups/<%= group_id %>/play/name">What's their name?</a>
<a href="/groups/<%= group_id %>/play/face">What's their face?</a>
<a href="/groups/<%= group_id %>/play/hangman">Hang them!</a>
<a href="/groups/<%= group_id %>/play/memory">Match them!</a>