<h1>Group.show (/groups/<%= group.id %>)</h1>

<ul>
    <li>
        <strong>Name:</strong>
        <%= group.name %>
    </li>
    <li>
        <strong>Status:</strong>
        <%= group.status %>
    </li>
</ul>

<a href="/groups/<%= group.id %>/addpeople/">Add people to group</a>
<br>
<br>
<a href="/groups/<%= group.id %>/showpeople/">Show all people of the group</a>