<a href="/groups">Back to Groups</a>

<h3>Change picture</h3>
<form method="post" action="/groups/edit/<%= person_id %>/pic" enctype="multipart/form-data">
    <input type="file" name="fileupload" >
    <input type="submit" value="Change pic">

</form>

<h3>Change name</h3>
<form method="post" action="/groups/edit/<%= person_id %>/name" >
    <input type="text" name="person_name" >
    <input type="submit" value="Change name">

</form>
