<a href="/groups/<%= group_id %>">Go back</a>

<form method="post" action="/groups/<%= group_id %>/addpeople" enctype="multipart/form-data">
    <input type="file" name="fileupload" >
    <input type="text" name="person_name" placeholder="Person name">
    <input type="submit" value="Add person">
</form>