<a href="/groups">Go back to groups</a>

<ul>
  <%= for person <- persons do %>
  <li>
      <img src="<%= person.image_path %>">
		  <%= person.id %> - <%= person.name %>
	</li>
  <a href="/groups/edit/<%= person.id %>/">Edit person</a>
  <% end %>
</ul>